<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="microMvc" type="MicroMvc.MvcSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
		</compilation>
		<authentication mode="Windows"/>
		<httpModules>
			<add type="MicroMvc.UrlRoutingModule, MicroMvc" name="UrlRoutingModule"/>
		</httpModules>
	</system.web>
	<microMvc>
    <routes>
      <route name="default" url="/[name]/?$" handler="MicroMvc.WebTest.Controllers.StudentController, MicroMvc.WebTest" />
    </routes>
	</microMvc>
</configuration>
